env/

# Large amounts of the data are stored in .idea, so unfortunately we need to commit it!
!.idea/

# Ignore a test output directory for trialing the course
test/

Sourcebots_Programming_Tutorial.zip

__pycache__/
